.App {
	text-align: center;
	height: 100%;
}

.App-logo {
	height: 40vmin;
}

.App-link {
	color: #09d3ac;
}

.HomePage-button {
	font-size: 30px;
	border-radius: 20px;
	margin-top: 30px;
	width: 60%;
	margin-left: 20%;
	padding: 15px;
	background-color: rgb(40, 96, 111);
	color: #fff;
	text-align: center;
}

.HomePage-button:hover {
	background-color: rgb(20, 76, 91);
	cursor: pointer;
}

.TextPage {
	height: 100%;
	width: 100%;
}
.timeline-container {
	width: "60%";
	height: "100px";
	margin: "0 auto";
}

.TextPage-main {
	height: 100%;
	width: 100%;
	margin-top: 100px;
}

.chart-area {
	background: #fff;
	color: #222;
	border-radius: 10px;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px 10px 5px 10px;
	display: flexbox;
	flex-direction: column;
	max-width: 800px;
	justify-self: center;
}

.graph-parent {
	position: relative;
	height: 100%;
	min-height: 700px;
	margin: 0px 0px 10px 0px;
}

.graph-parent .chart {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: #ffebcc;
}

.page-title {
	text-align: center;
	justify-self: center;
	margin: 10px;
	font-size: 40px;
	width: 70%;
	display: inline-block;
}

.header {
	width: 100%;
	display: inline-block;
}

.header-button {
	margin: 10px;
	width: 10%;
	display: inline-block;
}
