.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.HomePage-button {
	font-size: 40px;
	border-radius: 20px;
	border: 1px solid #000;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.HomePage-button:hover {
	background-color: #ddd;
}
