.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.HomePage-button {
	font-size: 40px;
	border-radius: 20px;
	border: 1px solid #000;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.HomePage-button:hover {
	background-color: #ddd;
}

.chart-area {
	background: #fff;
	color: #222;
	border-radius: 10px;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px 10px 5px 10px;
	display: flexbox;
	flex-direction: column;
	max-width: 800px;
	justify-self: center;
}

.graph-parent {
	position: relative;
	height: 100%;
	min-height: 700px;
	margin: 0px 0px 10px 0px;
}
  
.graph-parent .chart {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.page-title {
	text-align: center;
	justify-self: center;
	margin: 10px;
	font-size: 40px;
}